[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djoser = "*"
pillow = "*"
django = "*"
cloudinary = "*"
djangorestframework = "*"
pymysql = "*"
psycopg2-binary = "*"
django-cors-headers = "*"
dotenv = "*"
whitenoise = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.13"
